alias vim='nvim'

if [[ "$OSTYPE" == darwin* ]]; then
        alias l='/opt/homebrew/bin/gls --color=auto -h --group-directories-first -F'
        alias ll='/opt/homebrew/bin/gls --color=auto -l --all --classify=auto --group-directories-first --time-style="+%Y-%m-%d    %H:%M" --no-group -og'
        alias l.='/opt/homebrew/bin/gls --color=auto -d .* --classify=auto'
    else 
        alias l='ls --color -h --group-directories-first -F'
        alias ll='ls --color=auto -l --all --classify=auto --group-directories-first --time-style="+%Y-%m-%d    %H:%M" --no-group -og'
        alias l.='ls --color=auto -d .*'
fi 

# grep colors
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
